ORACLE_HTTP_PORT={{ oracle_http_port }}
ORACLE_LISTENER_PORT={{ oracle_listener_port }}
ORACLE_PASSWORD={{ oracle_password }}
ORACLE_CONFIRM_PASSWORD={{ oracle_confirm_password }}
ORACLE_DBENABLE={{ oracle_dbenable }}
